<div class="p-3">
  <div class="card">
    <div class="card-body">

      <div class="card-body">

        <div>
         <input class=" bi-" type="text" [(ngModel)]="keyword">
         <button (click)="searchProduct()"
                 class="btn btn-outline-success ms-1">
          <i class="bi bi-search"></i>
         </button>
        </div>
      </div>
      <table class="table table-success table-striped">
        <thead>
          <tr>
          <th>id</th><th>Name</th><th>Price</th><th>Checked</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>
            <button (click)="handleCheckProduct(product)"
            class="btn btn-outline-success">
            <i [class]="product.checked? 'bi bi-check':'bi bi-circle'"></i>
            </button>
          </td>
          <td>
             <button (click)="handleDeletePrroduct(product)" type="button"  class="btn btn-outline-danger">
               <i class="bi bi-trash"></i>Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
      <ul>
        <li *ngFor="let page of getPages(); let i = index">
          <button class="btn btn-outline-success" >
            {{ page }}
          </button>
        </li>

      </ul>

    </div>
  </div>
</div>
